<app-side-menu></app-side-menu>

<div class="ContentPanel">
    <br>
    <div class="innerSection">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h4>Disbursement</h4>
                </div>
            </div>
            <div class="congrats">
                <div class="popImg">
                    <img src="assets/images/congrats.png" alt="">
                </div>
                <div class="CongratSec">
                    <h4>Congratulation!</h4>

                    <p>Your loan amount <span><i class="fa fa-inr"></i>&nbsp;1,50,000</span> </p>
                    <p>will be credited on your bank account.</p>

                    <div class="btnSec">
                        <button class="btn btn-primary">Repayment Schedule</button>
                        <button class="btn btn-danger" (click)="logout()">Close</button>

                    </div>
                </div>
            </div>
    </div>
</div>