<div class="loginSection">

    <div class="loginRight">
        <div class="loginBox">
            <h4>{{login}}</h4>

            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label for="">UserName</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="" id="">
                        <div class="input-group-text">
                            <img src="assets/images/user.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label for="">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="" id="">
                        <div class="input-group-text">
                            <img src="assets/images/password.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary" (click)="personalDet()">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
<app-lodaer></app-lodaer>
